body {
    padding: 5px;
}

ul.navbar {
    padding-top: 15px;
}

.panel {
    padding: 10px;
}

.filters input, .filters select {
    margin-right: 15px;
}

.classified.ng-enter, .classified.ng-move {
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    opacity: 0;
}

.classified.ng-enter.ng-enter-active, .classified.ng-move.ng-move-active {
    opacity: 1;
}

.classified.ng-leave {
    -webkit-animation: 0.4s fade_classified;
    -o-animation: 0.4s fade_classified;
    animation: 0.4s fade_classified;
}

@keyframes fade_classified {
    from { opacity: 1; }
    to { opacity: 0; }
}

classified-card img {
    margin: 0 5px 15px 15px;
}

classified-card button {
    margin: 5px;
}

classified-card h2 {
    margin-left: 25px;
}

input.ng-invalid.ng-touched {
    border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
    border: 1px solid #509D12;
}

.md-sidenav-backdrop.md-opaque, md-sidenav {
    position: fixed;
}