<div class="list-group categories-sidebar">
    <a class="list-group-item"
       ng-class="{active: data.activeCategory===category}"
       ng-href="{{ data.currentPath + category }}"
       ng-repeat="category in data.categories">
        {{ category }}
        <button type="button" class="close" ng-show="data.activeCategory===category"
                ng-click="data.disableSortingByCategory($event)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </a>
</div>