<div class="container">
    <div id="classifiedsPricesChart"
         style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
    <hr>
    <hr>
    <div id="classifiedsCountChart"
         style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
    <div class="row">
        <div class="btn-group col-sm-6 col-sm-offset-3">
            <button class="btn btn-default" ng-class="{active: chartScaleBtn === 'hh'}"
                ng-click="classifiedsCountHourly()">за годину</button>
            <button class="btn btn-default" ng-class="{active: chartScaleBtn === 'DD'}"
                    ng-click="classifiedsCountDaily()">за день</button>
            <!--<button class="btn btn-default" ng-class="{active: chartScaleBtn === '7DD'}"
                    ng-click="classifiedsCountWeekly()">за тиждень</button>-->
            <button class="btn btn-default" ng-class="{active: chartScaleBtn === 'MM'}"
                    ng-click="classifiedsCountMonthly()">за місяць</button>
            <button class="btn btn-default" ng-class="{active: chartScaleBtn === 'YYYY'}"
                    ng-click="classifiedsCountYearly()">за рік</button>
        </div>
    </div>
    <hr>
</div>