<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#nav-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Оголошення</a>
    </div>

    <div class="collapse navbar-collapse" id="nav-toggle">
        <ul class="nav navbar-nav">
            <li>
                <a ng-href="#" ng-click="vm.openSidebar()">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Новий Товар
                </a>
            </li>
            <li>
                <a ng-href="#" ng-click="showFilters = !showFilters">
                    <span class="glyphicon glyphicon-search"></span>
                    Фільтр
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a ng-if="!vm.loggedIn" ng-href="#/classifieds/register">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Реєстрація
                </a>
            </li>
            <li>
                <a ng-if="!vm.loggedIn" ng-href="#/classifieds/login">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Вхід
                </a>
            </li>
            <li>
                <a ng-if="vm.loggedIn" ng-href="#">
                    <span class="glyphicon glyphicon-user"></span>
                    {{ user.username }}
                </a>
            </li>
            <li>
                <a ng-if="vm.loggedIn" ng-href="#/classifieds/login" ng-click="vm.doLogout()">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Вийти
                </a>
                <!--<span ng-show="currentUser">Hi {{ currentUser.firstname }}</span>-->
            </li>
        </ul>

    </div>
</nav>

<div class="filters well form-inline clearfix" ng-show="showFilters">

    <div class="form-group">
        <label for="search"></label>
        <input type="text" class="form-control" id="search" ng-model="classifiedsFilter" autofocus placeholder="Введіть ключове слово"/>
    </div>

    <div class="form-group">
        <label for="category">Категорія</label>
        <select name="category" class="form-control" id="category" ng-model="category">
            <option ng-repeat="category in vm.categories" value="{{ category }}">
                {{ category }}
            </option>
        </select>
    </div>

    <div class="form-group">
        <button class="btn btn-warning" ng-click="classifiedsFilter = ''; category = ''">Очистити</button>
    </div>

</div> <!--filters-->

<ui-view></ui-view>


<div class="container">

    <classified-card classifieds="vm.classifieds"
                     classifieds-filter="classifiedsFilter"
                     category="category">

    </classified-card>

    <!--<div ng-hide="vm.loggedIn">
        <h2>
            <span class="label label-success">
                <a href="#/classifieds/login">Ввійдіть</a> щоб переглянути оголошення
            </span>
        </h2>
    </div>

    <div class="classified" ng-repeat="classified in vm.classifieds">
        <div class="panel panel-default">

            <div class="row">
                <img class="pull-left img-responsive" ng-src="{{ classified.image }}" alt=""/>
                <h2 class="layout-align-center text-center">{{ classified.title }}</h2>
                <h3><span class="label label-info pull-right">{{ classified.price | currency }}</span></h3>
            </div>

            <div class="row">
                <div class="classified-info col-sm-9">
                    <p>{{ classified.content }}</p>
                </div>
            </div>

        </div>
    </div>-->
</div>