<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#nav-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Оголошення</a>
    </div>
    <div class="collapse navbar-collapse" id="nav-toggle">
        <ul class="nav navbar-nav">
            <li>
                <a href="" ng-click="vm.openSidebar()">
                <span class="glyphicon glyphicon-plus-sign"></span>
                    Нове Оголошення
                </a>
            </li>
            <li ng-class="{active: myClassifiedsBtnActive === 'all'}">
                <a ng-href="#/all-classifieds/">
                <span class="glyphicon glyphicon-th-list"></span>
                    Всі оголошення
                </a>
            </li>
            <li ng-if="vm.loggedIn" ng-class="{active: myClassifiedsBtnActive === 'my'}">
                <a ng-href="#/my-classifieds/">
                <span class="glyphicon glyphicon-plus-sig"></span>
                    Мої оголошення
                </a>
            </li>
            <!--<li>
                <a ng-href="#" ng-click="showFilters = !showFilters">
                    <span class="glyphicon glyphicon-search"></span>
                    Фільтр
                </a>
            </li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a ng-if="!vm.loggedIn" ng-href="#/register">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Реєстрація
                </a>
            </li>
            <li>
                <a ng-if="!vm.loggedIn" ng-href="#/login">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Увійти
                </a>
            </li>
            <li>
                <a ng-if="vm.loggedIn" href="">
                    <span class="glyphicon glyphicon-user"></span>
                    {{ user.username }}
                </a>
            </li>
            <li>
                <a ng-if="vm.loggedIn" href="" ng-click="vm.doLogout()">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Вийти
                </a>
            </li>
            <li>
                <a ng-if="vm.loggedIn" ng-href="#/admin">
                    <span class="glyphicon glyphicon-stats"></span>
                    Адмін
                </a>
            </li>
        </ul>
    </div>
</nav>