<div id="loginForm" class="container">
    <div class="row">
        <div class="col-xs-4"></div>
        <form name="myform" novalidate class="text-center col-sm-4 center-block" method="post"
              ng-submit="vm.signupUser()">
            <div class="textintro">
                {{ vm.error }}
                <h1>Реєстрація!</h1>
                <p>Зареєструйтесь для отримання доступу до додаткових можливостей</p>
                <p ng-show="vm.message" class="alert alert-danger">{{ vm.message }}</p>
            </div>

            <fieldset>
                <!--<div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Ім'я"
                            ng-model="vm.userData.name" ng-required="true" md-autofocus />
                </div>-->
                <!--<p ng-show="myform.firstname.$invalid && myform.firstname.$touched">Необхідно ввести ім'я</p>-->

                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Ім'я"
                           ng-model="vm.userData.username" ng-required="true"/>
                </div>
                <p ng-show="myform.username.$invalid && myform.username.$touched">Необхідно ввести ім'я</p>

                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Пароль"
                           ng-model="vm.userData.password" ng-required="true"/>
                </div>
                <p ng-show="myform.password.$invalid && myform.password.$touched">Необхідно ввести пароль</p>
            </fieldset>

            <button type="submit" class="btn btn-default" ng-disabled="myform.$invalid">Зареєструватись</button>
            <p>або <a ng-href="#/login">увійти</a></p>
        </form>
    </div>
</div>
