<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#nav-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Оголошення</a>
    </div>

    <div class="collapse navbar-collapse" id="nav-toggle">
        <ul class="nav navbar-nav">
            <li>
                <a ng-href="#" ng-click="vm.openSidebar()">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Новий Товар
                </a>
            </li>
            <li>
                <a ng-href="#" ng-click="showFilters = true">
                    <span class="glyphicon glyphicon-search"></span>
                    Фільтр
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a ng-hide="currentUser" ng-href="#/classifieds/register">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Реєстрація
                </a>
            </li>
            <li>
                <a ng-hide="currentUser" ng-href="#/classifieds/login">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Вхід
                </a>
            </li>
            <li>
                <a ng-show="currentUser" ng-href="#">
                    <span class="glyphicon glyphicon-user"></span>
                    {{ currentUser.firstname }}
                </a>
            </li>
            <li ng-controller="loginClassifiedsCtrl">
                <a ng-show="currentUser" ng-href="#/classifieds/login" ng-click="logout()">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Вийти
                </a>
                <!--<span ng-show="currentUser">Hi {{ currentUser.firstname }}</span>-->
            </li>
        </ul>

    </div>
</nav>

<div class="filters well form-inline clearfix" ng-show="showFilters">

    <div class="form-group">
        <label for="search"></label>
        <input type="text" class="form-control" id="search" ng-model="classifiedsFilter" autofocus placeholder="Введіть ключове слово"/>
    </div>

    <div class="form-group">
        <label for="category">Категорія</label>
        <select name="category" class="form-control" id="category" ng-model="category">
            <option ng-repeat="category in vm.categories" value="{{ category }}">
                {{ category }}
            </option>
        </select>
    </div>

    <div class="form-group">
        <button class="btn btn-warning" ng-click="classifiedsFilter = ''; category = ''">Очистити</button>
    </div>

</div> <!--filters-->

<ui-view></ui-view>

<div class="container">
    <classified-card classifieds="vm.classifieds"
                     classifieds-filter="classifiedsFilter"
                     category="category">

    </classified-card>
</div>